.sidebar-menu {
  ul, li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;

    .sidebar-menu-link {
      width: 100%;
      text-align: left;
      padding-left: 40px;

      &.mat-mdc-button {
        border-radius: 0;

        &::ng-deep {
          .mdc-button__label {
            width: 100%;
          }
        }
      }
    }

    .sidebar-menu-button {
      width: 100%;
      height: 36px;
      text-align: left;
      padding-left: 16px;

      &.mat-mdc-button {
        border-radius: 0;

        &::ng-deep {
          .mdc-button__label {
            width: 100%;
          }
        }
      }
    }
  }

  li.mat-tree-node {
    &.expanded {
      flex-direction: column;

      .sidebar-menu-button {

        margin-top: 6px;
        margin-bottom: 6px;
      }

      ul.mat-tree-children {
        width: calc(100% - 10px);
        padding-inline-start: 10px;
      }
    }

    &:not(.expanded) {
      ul.mat-tree-children {
        display: none;
      }
    }
  }
}