<mat-tree class="sidebar-menu" [dataSource]="treeDataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let menuItem" matTreeNodeToggle matTreeNodePadding>
    <li class="mat-tree-node">
      <button mat-icon-button disabled></button>
      <ng-container *ngIf="menuItem.route">
        <a [routerLink]="menuItem.route">{{menuItem.name}}</a>
      </ng-container>
      <ng-container *ngIf="!menuItem.route">
        {{menuItem.name}}
      </ng-container>
    </li>
  </mat-tree-node>
  <mat-nested-tree-node *matTreeNodeDef="let menuItem; when: hasChildren" matTreeNodePadding>
    <li>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + menuItem.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(menuItem) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <ng-container *ngIf="menuItem.route">
          <a [routerLink]="menuItem.route">{{menuItem.name}}</a>
        </ng-container>
        <ng-container *ngIf="!menuItem.route">
          {{menuItem.name}}
      </ng-container>
      <ul [class.invisible]="!treeControl.isExpanded(menuItem)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>