@if (treeDataSource$ | async; as treeDataSource) {
  <mat-tree class="sidebar-menu" [dataSource]="treeDataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let menuItem" matTreeNodeToggle>
      <li class="mat-tree-node">
        @if (menuItem.route) {
          <a mat-button class="sidebar-menu-link" routerLinkActive="router-link-active" [routerLink]="menuItem.route">{{
            menuItem.label
          }}</a>
        }
        @if (menuItem.href) {
          <a mat-button class="sidebar-menu-link" target="_blank" [href]="menuItem.href">{{ menuItem.label }}</a>
        }
      </li>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let menuItem; when: hasChildren">
      <li class="mat-tree-node" [class.expanded]="treeControl.isExpanded(menuItem)">
        <button mat-button matTreeNodeToggle type="button" class="sidebar-menu-button" [attr.aria-label]="`toggle ${menuItem.label}`">
          <mat-icon class="mat-icon-rtl-mirror">{{ treeControl.isExpanded(menuItem) ? "expand_more" : "chevron_right" }}</mat-icon>
          <span>{{ menuItem.label }}</span>
        </button>
        <ul class="mat-tree-children">
          <ng-container matTreeNodeOutlet />
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
}
