<mat-toolbar class="footer" color="primary">
  @if (config$ | async; as config) {
    @if (config.buildUrl) {
      <a mat-button color="primary" target="blank" [href]="config.buildUrl">
        <span>Version </span>
        <span>{{ config.version }}</span>
        <span>-build.</span>
        <span>{{ config.build }}</span>
      </a>
    } @else {
      <span>Version </span>
      <span>{{ config.version }}</span>
      <span>.</span>
      <span>{{ config.build }}</span>
    }
    @if (config.releaseUrl) {
      <a mat-button color="primary" target="blank" [href]="config.releaseUrl">
        <span>Release </span>
        <span>{{ config.release }}</span>
      </a>
    } @else {
      <span>Release </span>
      <span>{{ config.release }}</span>
    }
  }
</mat-toolbar>
