<mat-toolbar class="header" color="primary">
  <app-sidebar-toggle />
  <a mat-button color="primary" routerLink="/home">dynamic-forms</a>
  @if (!docsQuery.matches) {
    <app-docs-menu />
  }
  @if (!examplesQuery.matches) {
    <app-examples-menu />
  }
  @if (!editorsQuery.matches) {
    <app-editor-menu />
  }
  <div class="header-spacer"></div>
  <app-notifications-toggle />
  <app-preferences-menu />
  @if (!versionsQuery.matches) {
    <app-versions-menu />
  }
  @if (config$ | async; as config) {
    <a mat-icon-button target="_blank" [href]="config.repository | appCodeUrl">
      <mat-icon svgIcon="github" />
    </a>
    <a mat-icon-button target="_blank" [href]="config.project.url">
      <mat-icon svgIcon="azure-devops" />
    </a>
  }
</mat-toolbar>
