<mat-toolbar class="header" color="primary">
  <app-sidebar-toggle />
  <a mat-flat-button color="primary" routerLink="/home">dynamic-forms</a>
  <app-docs-menu *ngIf="!docsQuery.matches" />
  <app-examples-menu *ngIf="!examplesQuery.matches" />
  <app-editor-menu *ngIf="!editorsQuery.matches" />
  <div class="header-spacer"></div>
  <app-notifications-toggle />
  <app-preferences-menu />
  <app-versions-menu *ngIf="!versionsQuery.matches" />
  <ng-container *ngIf="config$ | async as config">
    <a mat-icon-button target="_blank" [href]="config.repository | appCodeUrl">
      <mat-icon svgIcon="github" />
    </a>
    <a mat-icon-button target="_blank" [href]="config.project.url">
      <mat-icon svgIcon="azure-devops" />
    </a>
  </ng-container>
</mat-toolbar>
