<mat-toolbar class="header" color="primary">
  <app-sidebar-toggle></app-sidebar-toggle>
  <a mat-button routerLink="/home">dynamic-forms</a>
  <app-docs-menu *ngIf="!docsQuery.matches"></app-docs-menu>
  <app-examples-menu *ngIf="!examplesQuery.matches"></app-examples-menu>
  <app-editor-menu *ngIf="!editorsQuery.matches"></app-editor-menu>
  <div class="header-spacer"></div>
  <app-notifications-toggle></app-notifications-toggle>
  <app-preferences-menu></app-preferences-menu>
  <app-versions-menu *ngIf="!versionsQuery.matches"></app-versions-menu>
  <ng-container *ngIf="config$ | async as config">
    <a mat-button mat-icon-button [href]="config.repository | appCodeUrl" target="_blank">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
    <a mat-button mat-icon-button [href]="config.project.url" target="_blank">
      <mat-icon svgIcon="azure-devops"></mat-icon>
    </a>
  </ng-container>
</mat-toolbar>
