<mat-tab-group class="dynamic-form-example">
  <mat-tab label="Form">
    <ng-content />
  </mat-tab>
  <mat-tab label="Definition">
    <ng-template matTabContent>
      <pre>{{ form()?.data().definition | json }}</pre>
    </ng-template>
  </mat-tab>
  <mat-tab label="Model">
    <ng-template matTabContent>
      <pre>{{ form()?.data().model | json }}</pre>
    </ng-template>
  </mat-tab>
  <mat-tab label="Value">
    <ng-template matTabContent>
      <pre>{{ form()?.value | json }}</pre>
    </ng-template>
  </mat-tab>
  <mat-tab label="Documentation" [disabled]="!docEnabled()">
    <ng-template matTabContent>
      <app-markdown [source]="docSource()" />
    </ng-template>
  </mat-tab>
</mat-tab-group>
