@if ((items$ | async) || []; as items) {
  <button mat-button color="primary" type="button" [matMenuTriggerFor]="editor">
    <div class="button-content">Editor <mat-icon>arrow_drop_down</mat-icon></div>
  </button>

  <mat-menu #editor="matMenu">
    <button mat-menu-item type="button" [matMenuTriggerFor]="boostrapMenuPanel.menu">Bootstrap</button>
    <button mat-menu-item type="button" [matMenuTriggerFor]="materialMenuPanel.menu">Material</button>
  </mat-menu>

  <app-editor-menu-panel #boostrapMenuPanel [baseUrl]="'/editor/bootstrap'" [level]="0" [items]="items" />
  <app-editor-menu-panel #materialMenuPanel [baseUrl]="'/editor/material'" [level]="0" [items]="items" />
}
