<mat-menu #menu>
  <ng-container *ngIf="level === 0">
    <a mat-menu-item routerLinkActive="router-link-active" [routerLink]="[baseUrl]" [routerLinkActiveOptions]="{ exact: true }">Default</a>
  </ng-container>
  <ng-container *ngFor="let item of items">
    <ng-container *ngIf="item.items">
      <button mat-menu-item [matMenuTriggerFor]="menuPanel.menu">{{ item.label }}</button>
      <app-editor-menu-panel #menuPanel [baseUrl]="baseUrl" [level]="level + 1" [items]="item.items" />
    </ng-container>
    <ng-container *ngIf="item.id">
      <ng-container *ngIf="!item.modelId; else exampleWithModel">
        <a mat-menu-item routerLinkActive="router-link-active" [routerLink]="[baseUrl, item.id]">{{ item.label }}</a>
      </ng-container>
      <ng-template #exampleWithModel>
        <a mat-menu-item routerLinkActive="router-link-active" [routerLink]="[baseUrl, item.id, 'models', item.modelId]">{{
          item.label
        }}</a>
      </ng-template>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="level === 0">
    <a mat-menu-item routerLinkActive="router-link-active" [routerLink]="[baseUrl, 'errors']">Errors</a>
  </ng-container>
</mat-menu>
