<section>
  <h2>Project</h2>
  <ul>
    <li>
      <strong>Overview</strong> and <strong>source code</strong> at <a href="https://dev.azure.com/alexandergebuhr/dynamic-forms" target="_blank">Azure</a>    
    </li>
  </ul>
</section>
<section>
  <h3>Features</h3>
  <ul>
    <li>Dynamic <strong>reactive forms</strong> based on <strong>JSON</strong> template</li>
    <li>Structuring / nesting dynamic forms by
      <ul>
        <li>form group</li>
        <li>form array</li> 
        <li>form control</li> 
      </ul>
    </li>
    <li>Dynamic form controls / inputs include
      <ul>
        <li>checkbox</li>
        <li>combobox</li> 
        <li>datepicker</li> 
        <li>numberbox</li>
        <li>radio</li>
        <li>select</li>  
        <li>textarea</li> 
        <li>textbox</li>  
      </ul>
    </li> 
  </ul>
</section>
<section>
  <h3>Libraries</h3>
  <h4>@dynamic-forms/core</h4>
  <ul>
    <li>Library includes <strong>extensible</strong> core interfaces, classes, components and services
      <ul>
        <li>form config</li>
        <li>form builder</li>
        <li>form expression builder</li>
        <li>form component factory</li>
      </ul>
    </li>
  </ul>
  <h4>@dynamic-forms/bootstrap</h4>
  <ul>
    <li>Library for components based on <strong>bootstrap</strong> and <strong>HTML5</strong></li>
  </ul>
  <h4>@dynamic-forms/material</h4>
  <ul>
    <li>Library for components based on <strong>@angular/material</strong></li>
  </ul>
</section>
