<section>
  <h2>Project</h2>
  <ul>
    <li>
      <strong>Repository</strong> at <strong><a href="https://github.com/dynamic-forms/dynamic-forms" target="_blank">GitHub</a></strong>    
    </li>
    <li>
      <strong>Overview</strong> at <strong><a href="https://dev.azure.com/alexandergebuhr/dynamic-forms" target="_blank">Azure DevOps</a></strong>    
    </li>
  </ul>
</section>
<section>
  <h3>Features</h3>
  <ul>
    <li>Dynamic <strong><a href="https://angular.io/guide/reactive-forms" target="_blank"> reactive forms</a></strong> based on <strong>JSON</strong> definition</li>
    <li>Dynamic forms support structuring / nesting by
      <ul>
        <li>Dynamic form elements (container, content)</li>
        <li>Dynamic form fields (group, array, control)</li> 
        <li>Dynamic form actions (button, icon)</li> 
      </ul>
    </li>
    <li>Dynamic form controls support
      <ul>
        <li>Dynamic form inputs
          <ul>
            <li>Checkbox and switch</li>
            <li>Combobox, radio and select</li> 
            <li>Textbox and textarea</li> 
            <li>Datepicker</li> 
            <li>Numberbox</li>
          </ul>
        </li>
        <li>Dynamic form input validation</li>
        <li>Dynamic form input hints</li>
      </ul>
    </li> 
  </ul>
</section>
<section>
  <h3>Libraries</h3>
  <h4>@dynamic-forms/core</h4>
  <ul>
    <li>Library includes <strong>extensible</strong> interfaces, classes, components, factories, services and <strong>modules</strong>
      <ul>
        <li>Dynamic form config module for registration of components
          <ul></ul>
        </li>
        <li>Dynamic form module includes
          <ul>
            <li>Builder to create form groups, arrays and controls</li>
            <li>Component factory to resolve registered components</li>
            <li>Component to render components</li>
          </ul>
        </li>
        <li>Dynamic form control module includes
          <ul>
            <li>Component to render input</li>
          </ul>
        </li>
        <li>Dynamic form group module includes
          <ul>
            <li>Component to render controls</li>
          </ul>
        </li>
        <li>Dynamic form array module includes
          <ul>
            <li>Component to render groups and controls</li>
          </ul>
        </li>
        <li>Dynamic form validation module for registration of validators and messages 
          <ul>
            <li>Builder to create validators</li>
            <li>Service to resolve validation messages</li>
          </ul>
        </li>
        <li>Dynamic form action module for registration of action handlers
          <ul>
            <li>Service to resolve action handlers</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <h4>@dynamic-forms/bootstrap</h4>
  <ul>
    <li>Library for components based on <strong><a href="https://getbootstrap.com/" target="_blank"> bootstrap</a></strong> and <strong>HTML5</strong></li>
  </ul>
  <h4>@dynamic-forms/material</h4>
  <ul>
    <li>Library for components based on <strong><a href="https://material.angular.io/" target="_blank">@angular/material</a></strong></li>
  </ul>
</section>
