<section>
  <h2>Project</h2>
  <ul>
    <li>
      <strong>Overview</strong> and <strong>source code</strong> at <a href="https://dev.azure.com/alexandergebuhr/dynamic-forms" target="_blank">Azure</a>    
    </li>
  </ul>
</section>
<section>
  <h3>Features</h3>
  <ul>
    <li>Dynamic <strong>reactive forms</strong> based on <strong>JSON</strong> definition</li>
    <li>Structuring / nesting dynamic forms by
      <ul>
        <li>Form group</li>
        <li>Form array</li> 
        <li>Form control</li> 
      </ul>
    </li>
    <li>Dynamic form controls / inputs include
      <ul>
        <li>Checkbox</li>
        <li>Combobox</li> 
        <li>Datepicker</li> 
        <li>Numberbox</li>
        <li>Radio</li>
        <li>Select</li>  
        <li>Textarea</li> 
        <li>Textbox</li>  
      </ul>
    </li> 
  </ul>
</section>
<section>
  <h3>Libraries</h3>
  <h4>@dynamic-forms/core</h4>
  <ul>
    <li>Library includes <strong>extensible</strong> core interfaces, classes, components and services
      <ul>
        <li>Form config</li>
        <li>Form builder</li>
        <li>Form component factory</li>
        <li>Form expression builder</li>
      </ul>
    </li>
  </ul>
  <h4>@dynamic-forms/bootstrap</h4>
  <ul>
    <li>Library for components based on <strong>bootstrap</strong> and <strong>HTML5</strong></li>
  </ul>
  <h4>@dynamic-forms/material</h4>
  <ul>
    <li>Library for components based on <strong>@angular/material</strong></li>
  </ul>
</section>
