<ng-container *ngIf="repository$ | async as repository">
  <button mat-flat-button color="primary" [matMenuTriggerFor]="docs">
    <div class="button-content">Documentation <mat-icon>arrow_drop_down</mat-icon></div>
  </button>

  <mat-menu #docs="matMenu">
    <a mat-menu-item routerLink="/docs/core" [matMenuTriggerFor]="coreDocs">Core</a>
    <a mat-menu-item routerLink="/docs/bootstrap" [matMenuTriggerFor]="bootstrapDocs">Bootstrap</a>
    <a mat-menu-item routerLink="/docs/material" [matMenuTriggerFor]="materialDocs">Material</a>
    <a mat-menu-item routerLink="/docs/markdown" [matMenuTriggerFor]="markdownDocs">Markdown</a>
    <a mat-menu-item routerLink="/docs/changelog" routerLinkActive="router-link-active">Changelog</a>
  </mat-menu>

  <mat-menu #coreDocs="matMenu">
    <app-docs-menu-items [repository]="repository" [library]="'core'" />
  </mat-menu>

  <mat-menu #bootstrapDocs="matMenu">
    <app-docs-menu-items [repository]="repository" [library]="'bootstrap'" />
  </mat-menu>

  <mat-menu #materialDocs="matMenu">
    <app-docs-menu-items [repository]="repository" [library]="'material'" />
  </mat-menu>

  <mat-menu #markdownDocs="matMenu">
    <app-docs-menu-items [repository]="repository" [library]="'markdown'" />
  </mat-menu>
</ng-container>
