@if (repository$ | async; as repository) {
  <button mat-button color="primary" type="button" [matMenuTriggerFor]="docs">
    <div class="button-content">Documentation <mat-icon>arrow_drop_down</mat-icon></div>
  </button>

  <mat-menu #docs="matMenu">
    <a mat-menu-item routerLink="/docs/core" [matMenuTriggerFor]="coreDocs">Core</a>
    <a mat-menu-item routerLink="/docs/bootstrap" [matMenuTriggerFor]="bootstrapDocs">Bootstrap</a>
    <a mat-menu-item routerLink="/docs/material" [matMenuTriggerFor]="materialDocs">Material</a>
    <a mat-menu-item routerLink="/docs/markdown" [matMenuTriggerFor]="markdownDocs">Markdown</a>
    <a mat-menu-item routerLink="/docs/demo" [matMenuTriggerFor]="demoDocs">Demo</a>
    <a mat-menu-item routerLink="/docs/changelog" routerLinkActive="router-link-active">Changelog</a>
  </mat-menu>

  <mat-menu #coreDocs="matMenu">
    <app-docs-menu-items library="core" [repository]="repository" />
  </mat-menu>

  <mat-menu #bootstrapDocs="matMenu">
    <app-docs-menu-items library="bootstrap" [repository]="repository" />
  </mat-menu>

  <mat-menu #materialDocs="matMenu">
    <app-docs-menu-items library="material" [repository]="repository" />
  </mat-menu>

  <mat-menu #markdownDocs="matMenu">
    <app-docs-menu-items library="markdown" [repository]="repository" />
  </mat-menu>

  <mat-menu #demoDocs="matMenu">
    <app-docs-menu-items app="demo" [repository]="repository" />
  </mat-menu>
}
