:host ::ng-deep {
  .dynamic-form-wrapper {
    width: 100%;

    &.small {
      max-width: 600px;
    }

    .dynamic-form {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      
      &.container {
        .row {
          display: flex;
          margin: 10px 0;

          * {
            flex: 1 1 0;
          }

          .col {
            flex: 1 0 0;
            padding: 0 10px;
          }

          .col-6 {
            flex: 1 1 50%;
            padding: 0 10px;
          }
        }
      }

      .dynamic-form-group {
        margin: 10px 0;
  
        &.hidden {
          display: none;
        }
      }
    
      .dynamic-form-array {
        margin: 10px 0;
  
        &.hidden {
          display: none;
        }
      }
      
      .dynamic-form-control {
        &.hidden {
          display: none;
        }
        
        &.readonly {
          .mat-form-field, .mat-checkbox, .mat-radio-group {
            pointer-events: none;
          }
        }
  
        .mat-form-field {
          width: 100%;
        }
  
        .mat-form-field-simple {
          width: 100%;
          padding-top: .75em;
  
          .mat-form-field-simple-label {
            display: block;
            color: rgba(0,0,0,.6);
            font-size: 75%;
          }
  
          &.mat-form-field-simple-invalid {
            .mat-form-field-simple-label {
              color: #f44336;
            }
          }
          
          .mat-radio-group {
            display: inline-flex;
            flex-direction: column;
            
            .mat-radio-button {
              margin: 5px 0;
            }
          }
  
          .mat-form-field-simple-info {
            font-size: 75%;
            margin-top: .66667em;
          }
        }
      }
  
      .dynamic-form-actions {
        button {
          margin-right: 10px;
        }
      }
    }
  }
}
