@import "@dynamic-forms/core/assets/scss/dynamic-form-grid";
@import "@dynamic-forms/material/assets/scss/dynamic-form-theme";

.dynamic-form-wrapper.material {
  width: 100%;
  max-width: 800px;

  &.small {
    max-width: 600px;
  }
}