:host ::ng-deep {
  .dynamic-form {
    margin: 0 10px;

    .dynamic-form-group {
      margin: 10px 0 20px 0;

      &.hidden {
        display: none;
      }
    }
  
    .dynamic-form-array {
      margin: 10px 0 20px 0;

      &.hidden {
        display: none;
      }
    }
    
    .dynamic-form-control {
      display: flex;
      flex-direction: column;
      
      &.hidden {
        display: none;
      }
      
      &.readonly {
        .mat-form-field, .mat-checkbox, .mat-radio-group {
          pointer-events: none;
        }
      }

      .mat-form-field-simple {
        padding-top: .75em;

        .mat-form-field-simple-label {
          display: block;
          color: rgba(0,0,0,.6);
          font-size: 75%;
        }

        &.mat-form-field-simple-invalid {
          .mat-form-field-simple-label {
            color: #f44336;
          }
        }
        
        .mat-radio-group {
          display: inline-flex;
          flex-direction: column;
          
          .mat-radio-button {
            margin: 5px 0;
          }
        }

        .mat-form-field-simple-info {
          font-size: 75%;
          margin-top: .66667em;
          height: 1.34375em;
        }
      }
    }

    .dynamic-form-actions {
      button {
        margin-right: 10px;
      }
    }
  }
}
