@import "@dynamic-forms/core/assets/scss/grid";
@import "@dynamic-forms/material/assets/scss/theme";

.dynamic-form-wrapper.material {
  width: 100%;

  &:not(.maximized) {
    max-width: 800px;

    &.small {
      max-width: 600px;
    }
  }
}

.dynamic-form-example {
  .mat-tab-header-pagination {
    z-index: auto
  }  
}
