<ng-container *ngIf="items$ | async as items">
  <button mat-button [matMenuTriggerFor]="examples">
    Examples
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #examples="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="boostrapMenuPanel.menu">Bootstrap</button>
    <button mat-menu-item [matMenuTriggerFor]="materialMenuPanel.menu">Material</button>
  </mat-menu>

  <app-examples-menu-panel #boostrapMenuPanel [baseUrl]="'/examples/bootstrap'" [items]="items">
  </app-examples-menu-panel>

  <app-examples-menu-panel #materialMenuPanel [baseUrl]="'/examples/material'" [items]="items">
  </app-examples-menu-panel>
</ng-container>
