<button mat-button [matMenuTriggerFor]="examples">
  Examples
  <mat-icon>arrow_drop_down</mat-icon>
</button>

<mat-menu #examples="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="bootstrapExamples">Bootstrap</button>
  <button mat-menu-item [matMenuTriggerFor]="materialExamples">Material</button>
</mat-menu>

<mat-menu #bootstrapExamples="matMenu">
  <mat-nav-list >
    <mat-list-item *ngFor="let template of templates">
      <a matLine [routerLink]="['/examples/bootstrap', template.id]">
        {{ template.label}}
      </a>
    </mat-list-item>
  </mat-nav-list>
</mat-menu>

<mat-menu #materialExamples="matMenu">
  <mat-nav-list >
    <mat-list-item *ngFor="let template of templates">
      <a matLine [routerLink]="['/examples/material', template.id]">
        {{ template.label}}
      </a>
    </mat-list-item>
  </mat-nav-list>
</mat-menu>