<ng-container *ngIf="menuItem.items">
  <button mat-menu-item [matMenuTriggerFor]="subMenu" [matMenuTriggerData]="{ items: menuItem.items }">
    {{ menuItem.label }}
  </button>
  <mat-menu #subMenu="matMenu">
    <ng-template matMenuContent let-items="items">
      <app-examples-menu-item *ngFor="let item of items" [baseUrl]="baseUrl" [menuItem]="item">
      </app-examples-menu-item>
    </ng-template>        
  </mat-menu>
</ng-container>
<ng-container *ngIf="menuItem.id">
  <a mat-menu-item [routerLink]="[ baseUrl, menuItem.id ]">
    {{ menuItem.label }}
  </a>
</ng-container>