<ng-container *ngIf="menuItems$ | async as menuItems">
  <button mat-button [matMenuTriggerFor]="examples">
    Examples
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #examples="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="bootstrapExamples">Bootstrap</button>
    <button mat-menu-item [matMenuTriggerFor]="materialExamples">Material</button>
  </mat-menu>

  <mat-menu #bootstrapExamples="matMenu">
    <app-examples-menu-items [baseUrl]="'/examples/bootstrap'" [menuItems]="menuItems">
    </app-examples-menu-items>
  </mat-menu>
  
  <mat-menu #materialExamples="matMenu">
    <app-examples-menu-items [baseUrl]="'/examples/material'" [menuItems]="menuItems">
    </app-examples-menu-items>
  </mat-menu>
</ng-container>
