<ng-container *ngFor="let menuItem of menuItems">
  <ng-container *ngIf="menuItem.items">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">
      {{ menuItem.label }}
    </button>
    <mat-menu #subMenu="matMenu">
      <app-examples-menu-items [baseUrl]="baseUrl" [menuItems]="menuItem.items">          
      </app-examples-menu-items>
    </mat-menu>
  </ng-container>
  <ng-container *ngIf="menuItem.id">
    <a mat-menu-item [routerLink]="[ baseUrl, menuItem.id ]">
      <span matLine>{{ menuItem.label }}</span>
    </a>
  </ng-container>
</ng-container>  