<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Value">
      <ng-template matTabContent>
        <pre>{{ data.value | json }}</pre>
      </ng-template>
    </mat-tab>
    <mat-tab label="Model">
      <ng-template matTabContent>
        <pre>{{ data.model | json }}</pre>
      </ng-template>
    </mat-tab>
    <mat-tab label="Files">
      <ng-template matTabContent>
        <pre>{{ data.files | appFormData | json }}</pre>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="dialogRef.close()">Ok</button>
</div>
