<button mat-button [matMenuTriggerFor]="docs">
  Documentation
  <mat-icon>arrow_drop_down</mat-icon>
</button>

<mat-menu #docs="matMenu">
  <mat-nav-list>
    <button mat-menu-item [matMenuTriggerFor]="coreDocs">
      <a routerLink="/docs/core">Core</a>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="bootstrapDocs">
      <a routerLink="/docs/bootstrap">Bootstrap</a>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="materialDocs">
      <a routerLink="/docs/material">Material</a>
    </button>
 </mat-nav-list>
</mat-menu>

<mat-menu #coreDocs="matMenu">
  <app-docs-menu-list [library]="'core'">
  </app-docs-menu-list>
</mat-menu>

<mat-menu #bootstrapDocs="matMenu">
  <app-docs-menu-list [library]="'bootstrap'">
  </app-docs-menu-list>
</mat-menu>

<mat-menu #materialDocs="matMenu">
  <app-docs-menu-list [library]="'material'">
  </app-docs-menu-list>
</mat-menu>