.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-left: 10px;
}

.content {
  margin-left: 300px;
  padding: 0px 10px;
}