<div class="monaco-editor">
  <div class="monaco-editor-toolbar">
    <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
    <mat-menu #fileMenu="matMenu">
      <button mat-menu-item (click)="fileUpload.click()">
        <span>Open file</span>
        <input #fileUpload hidden type="file" accept=".json" (change)="handleFileUpload($event.target.files)" />
      </button>
      <button mat-menu-item (click)="handleFileDownload()">
        <span>Save file</span>
      </button>
    </mat-menu>
  </div>
  <div #container class="monaco-editor-container"></div>
  <div *ngIf="loading$ | async" class="monaco-editor-loading">Loading ...</div>
  <div *ngIf="fileLoading$ | async" class="monaco-editor-loading">Loading file ...</div>
</div>
