:host {
  .monaco-editor {
    display: flex;
    flex-direction: column;
    padding-left: 1px;
    padding-bottom: 1px;

    --mdc-text-button-container-shape: none;
    --vscode-focusBorder: var(--app-primary-color);

    .monaco-editor-toolbar {
      height: 36px;
      border-bottom: 1px solid var(--app-primary-color);
    }

    .monaco-editor-container {
      flex: 1 1 0;
      width: 100%;
    }

    .monaco-editor-loading {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }
}
