:host {
  .monaco-editor {
    display: flex;
    flex-direction: column;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;

    --mdc-text-button-container-shape: none;
    /* stylelint-disable-next-line custom-property-pattern */
    --vscode-focusBorder: var(--app-primary-color);

    .monaco-editor-toolbar {
      height: 36px;
      border-bottom: 1px solid var(--app-primary-color);
    }

    .monaco-editor-container {
      flex: 1 1 0;
      width: 100%;
    }

    .monaco-editor-loading {
      display: flex;
      position: absolute;
      inset: 0;
      justify-content: center;
      align-items: center;
      background-color: rgb(0 0 0 / 10%);
    }
  }
}
