:host ::ng-deep {
  @import "node_modules/bootstrap/scss/bootstrap.scss";

  .dynamic-form {
    .dynamic-form-group {
      margin: 10px 0 20px 0;
    }
  
    .dynamic-form-array {
      margin: 10px 0 20px 0;
    }
  
    .dynamic-form-control {
      margin: 10px 0;
    }
  
    .dynamic-form-validation {
      color: red;
    }
  }
}
