/* You can add global styles to this file, and also import other style files */

@import "@dynamic-forms/core/assets/scss/grid";
@import "@dynamic-forms/core/assets/scss/markdown";
@import "@dynamic-forms/bootstrap/assets/scss/theme";
@import "@dynamic-forms/material/assets/scss/theme.scss";

.dynamic-form-wrapper {
  width: 100%;

  .dynamic-form {
    &:not(.maximized) {
      max-width: 800px;

      &.small {
        max-width: 600px;
      }
    }
  }
}

.dynamic-form-example {
  .mat-tab-header-pagination {
    z-index: auto
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .router-link-active {
    background: rgba(63,81,181,.15);
    color: #3f51b5;
  }
}
