@use "@angular/material" as mat;

@include mat.core();

$app-primary: mat.define-palette(mat.$indigo-palette);
$app-accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);

$app-typography: mat.define-typography-config(
  $subtitle-1: mat.define-typography-level(20px, 24px, 500),
  $body-1: mat.define-typography-level(14px, 24px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $button: mat.define-typography-level(14px, 36px, 500),
);


$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent
  ),
  typography: $app-typography
));


@include mat.all-component-themes($app-theme);
@include mat.typography-hierarchy($app-typography);

html, body {
  height: 100%;
}

body {
  margin: 0;

  .button-content {
    display: flex;
    align-items: center;
  }

  .router-link-active {
    background: rgba(63,81,181,.15);
    color: #3f51b5;
  }
}

/*
.mat-mdc-dialog-container {
  --mdc-dialog-subhead-font: var(--mdc-typography-font-family);
  --mdc-dialog-subhead-line-height: 32px;
  --mdc-dialog-subhead-size: 20px;
  --mdc-dialog-subhead-weight: 500;
  --mdc-dialog-subhead-tracking: normal;
  --mdc-dialog-supporting-text-color: black;
  --mdc-dialog-supporting-text-font: var(--mdc-typography-font-family);
  --mdc-dialog-supporting-text-size: var(--mdc-typography-body1-font-size);
  --mdc-dialog-supporting-text-weight: var(--mdc-typography-body1-font-weight);
  --mdc-dialog-supporting-text-line-height: var(--mdc-typography-body1-line-height);
  --mdc-dialog-supporting-text-tracking: var(--mdc-typography-button-letter-spacing);
}
*/

@import "@dynamic-forms/core/assets/scss/grid";
@import "@dynamic-forms/bootstrap/assets/scss/theme";
@import "@dynamic-forms/material/assets/scss/theme";
@import "@dynamic-forms/markdown/assets/scss/markdown";

.dynamic-form-wrapper {
  width: 100%;

  .dynamic-form {
    &:not(.maximized) {
      max-width: 800px;

      &.small {
        max-width: 600px;
      }
    }
  }
}

.dynamic-form-example {
  .mat-tab-header-pagination {
    z-index: auto
  }
}
