.notifications {
  position: fixed;
  top: 64px;
  right: 0;
  max-width: 250px;
  margin: 4px;
  z-index: 99998;

  mat-chip-listbox {
    &::ng-deep {
      .mdc-evolution-chip-set__chips {
        justify-content: flex-end;
      }
    }
  }

  mat-chip-option {
    text-overflow: ellipsis;
  }
}