@if (notifications$ | async; as notifications) {
  @if (notifications.enabled && notifications.items.length > 0) {
    <div class="notifications">
      <mat-chip-listbox class="notification-items">
        @for (item of notifications.items; track $index) {
          <mat-chip-option class="notification-item" color="primary" selected [removable]="true" (removed)="remove(item)"
            >{{ item.title }}<mat-icon matChipRemove>cancel</mat-icon></mat-chip-option
          >
        }
      </mat-chip-listbox>
    </div>
  }
}
