.notifications {
  position: fixed;
  top: 64px;
  right: 0;
  max-width: 250px;
  margin: 4px;
  z-index: 99998;

  mat-chip-list {
    &::ng-deep {
      .mat-chip-list-wrapper {
        justify-content: flex-end;
      }  
    }
  }

  mat-chip {
    text-overflow: ellipsis; 
  }
}