<mat-tab-group class="dynamic-form-editor">
    <mat-tab label="Editor">
      <app-monaco-editor></app-monaco-editor>
    </mat-tab>
    <mat-tab label="Form">
      <ng-template matTabContent>
        <ng-content select="[dynamic-form]"></ng-content>
      </ng-template>
    </mat-tab>
    <mat-tab label="Definition">
      <ng-template matTabContent>
        <ng-content select="[dynamic-form-definition]"></ng-content>
      </ng-template>
    </mat-tab>
    <mat-tab label="Model">
      <ng-template matTabContent>
        <ng-content select="[dynamic-form-model]"></ng-content>
      </ng-template>
    </mat-tab>
    <mat-tab label="Value">
      <ng-template matTabContent>
        <ng-content select="[dynamic-form-value]"></ng-content>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
