<div class="dynamic-form-editor" [class.split-view]="splitView$ | async">
  @if (splitView$ | async) {
    <app-monaco-editor language="json" updateType="blur" [(value)]="value" />
  }
  <mat-tab-group #tabGroup>
    @if ((splitView$ | async) === false) {
      <mat-tab label="Editor">
        <app-monaco-editor language="json" updateType="blur" [(value)]="value" />
      </mat-tab>
    }
    <mat-tab label="Form">
      <ng-template matTabContent>
        <ng-content />
      </ng-template>
    </mat-tab>
    <mat-tab label="Definition">
      <ng-template matTabContent>
        <pre>{{ form()?.formDefinition | json }}</pre>
      </ng-template>
    </mat-tab>
    <mat-tab label="Model">
      <ng-template matTabContent>
        <pre>{{ form()?.formModel | json }}</pre>
      </ng-template>
    </mat-tab>
    <mat-tab label="Value">
      <ng-template matTabContent>
        <pre>{{ form()?.formValue | json }}</pre>
      </ng-template>
    </mat-tab>
    <mat-tab label="Logs">
      <ng-template matTabContent>
        <app-form-editor-logs [logs]="logs" />
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
