.notification {
  position: fixed;
  top: 64px;
  right: 0;
  width: 150px;
  margin: 4px;
  z-index: 99998;

  .notification-items {
    width: 150px;

    .notification-item {
      width: 150px;

      
    }   
  }
}